nav {
	ul {
		margin: 0;
		padding: 0;
		li {
			list-style-type: none;
		}
	}
}

.navigation-link-container {
	background-color: lighten(black, 90%);
	margin: 0.15em 0;

	&.current, &:hover {
		background-color: $deep-red-color;
		@include link-color(white);
	}
}

.navigation-link {
	display: block;
}

@media screen and (min-width: $mobile-column-width) {

	.navigation-link-container {
		display: inline;
		background-color: transparent;
		margin: 0 0.5em;

		&.current, &:hover {
			background-color: transparent;
			@include link-color($deep-red-color);
		}
	}

	.navigation-link {
		display: inline;
		padding: 0 5px;
		border-bottom: 0.1em solid silver;

		.current &, &:hover {
			border-bottom: 0.2em solid $deep-red-color;
		}
	}

}

@media screen and (min-width: $sidebar-visible-after-width) {
	.hide-when-sidebar-is-visible {
		display: none;
	}
}