$base-font-size: 16px;
$max-column-width: (950px / $base-font-size) * 1em;
$column-margin: 1em;

body {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin: 0;
}

#container {
	background-color: #f2f2f2;
	width: inherit;
	margin: 0 auto;
}

@media screen and (min-width: $max-column-width),
       screen and (min-device-width: 768px) and (max-device-width: 768px) and (orientation: landscape) {
	body {
		background-image: image-url('wood-floor.jpg');
	}
	#container {
		width: $max-column-width;
	}
}

@media screen and (min-width: $max-column-width + 2em),
       screen and (min-device-width: 768px) and (max-device-width: 768px) and (orientation: landscape) {
    #container {
		padding-left: $column-margin;
		padding-right: $column-margin;
		padding-bottom: $column-margin;
	}
}

header {

	background-color: white;
	position: relative;
	text-align: center;

	#keys {
		width: 100%;
	}

	#logo {
		width: 100%;
		margin-top: -6.5%; // trial end error...
	}

}

.slogan {
	font-size: 1.1em;
	font-style: italic;
	font-weight: bold;
	text-align: center;
	margin-top: 0;

	&.aligned {
		display: block;
		margin: 0;
		position: absolute;
		left: 51%;
		right: 3%;
		bottom: 0;
		z-index: 10;
	}

	&.testing-area {
		visibility: hidden;
	}
}

section {
	background-color: white;
}