@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/jouni_000\/Projektit\/omavoiman-kotisivut\/src\/sass\/default\.scss}line{font-family:\000033}}
body {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/jouni_000\/Projektit\/omavoiman-kotisivut\/src\/sass\/default\.scss}line{font-family:\000038}}
#container {
  background-color: white;
  width: inherit;
  margin: 0 auto;
}

@media screen and (min-width: 950px), screen and (min-device-width: 768px) and (max-device-width: 768px) and (orientation: landscape) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/jouni_000\/Projektit\/omavoiman-kotisivut\/src\/sass\/default\.scss}line{font-family:\0000316}}
  body {
    background-image: url('../images/wood-floor.jpg?1358631873');
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/jouni_000\/Projektit\/omavoiman-kotisivut\/src\/sass\/default\.scss}line{font-family:\0000319}}
  #container {
    width: 950px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/jouni_000\/Projektit\/omavoiman-kotisivut\/src\/sass\/default\.scss}line{font-family:\0000324}}
header {
  position: relative;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/jouni_000\/Projektit\/omavoiman-kotisivut\/src\/sass\/default\.scss}line{font-family:\0000329}}
header #keys {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/jouni_000\/Projektit\/omavoiman-kotisivut\/src\/sass\/default\.scss}line{font-family:\0000333}}
header #logo {
  width: 100%;
  margin-top: -6.5%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/jouni_000\/Projektit\/omavoiman-kotisivut\/src\/sass\/default\.scss}line{font-family:\0000340}}
.slogan {
  font-size: 1.1em;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  margin-top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/jouni_000\/Projektit\/omavoiman-kotisivut\/src\/sass\/default\.scss}line{font-family:\0000347}}
.slogan.aligned {
  display: block;
  margin: 0;
  position: absolute;
  left: 51%;
  right: 3%;
  bottom: 0;
  z-index: 10;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/jouni_000\/Projektit\/omavoiman-kotisivut\/src\/sass\/default\.scss}line{font-family:\0000357}}
.slogan.testing-area {
  visibility: hidden;
}
