@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/jouni_000\/Projektit\/omavoiman-kotisivut\/src\/sass\/default\.scss}line{font-family:\000034}}
body {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  margin-top: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/jouni_000\/Projektit\/omavoiman-kotisivut\/src\/sass\/default\.scss}line{font-family:\000039}}
#container {
  background-color: white;
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-device-width: 950px), screen and (max-device-width: 1024px) and (orientation: landscape) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/jouni_000\/Projektit\/omavoiman-kotisivut\/src\/sass\/default\.scss}line{font-family:\0000317}}
  body {
    background-image: url("../images/wood-floor.png");
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/jouni_000\/Projektit\/omavoiman-kotisivut\/src\/sass\/default\.scss}line{font-family:\0000320}}
  #container {
    width: 950px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/jouni_000\/Projektit\/omavoiman-kotisivut\/src\/sass\/default\.scss}line{font-family:\0000325}}
header {
  position: relative;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/jouni_000\/Projektit\/omavoiman-kotisivut\/src\/sass\/default\.scss}line{font-family:\0000330}}
header #logo {
  width: 85%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/jouni_000\/Projektit\/omavoiman-kotisivut\/src\/sass\/default\.scss}line{font-family:\0000336}}
.slogan {
  font-size: 1.1em;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  margin-top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/jouni_000\/Projektit\/omavoiman-kotisivut\/src\/sass\/default\.scss}line{font-family:\0000343}}
.slogan.aligned {
  display: block;
  margin: 0;
  position: absolute;
  left: 50%;
  right: 7.5%;
  bottom: 0;
  z-index: 10;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/jouni_000\/Projektit\/omavoiman-kotisivut\/src\/sass\/default\.scss}line{font-family:\0000353}}
.slogan.testing-area {
  visibility: hidden;
}
